<% title "Mis Cotizaciones" %>

<%= index_as_table do %>
<table border="0" cellspacing="0" cellpadding="0" id="estimates" class="index_table">
  <thead>
    <tr>
      <% if can? :manage, User %>
        <th>User</th>
      <% end %>
      <th>Programa</th>
      <% if can? :manage, Country %>
        <th>Pais</th>
      <% end %>
      <th>Cobertura</th>
      <th>Titular</th>
      <th>Cantidad para Titular</th>
      <th>Cantidad para Conyugue</th>
      <th>Dental</th>
      <th>Severe illness</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @estimates.each do |estimate| %>
      <tr class="<%= cycle "odd", "even" %>">
        <% if can? :manage, User %>
          <td><%= estimate.user.name %></td>
        <% end %>
        <td><%= estimate.product.program %></td>
        <% if can? :manage, Country %>
          <td><%= current_user.country %></td>
        <% end %>
        <td><%= estimate.product.coverage %></td>
        <td><%= estimate.client.full_name %></td>
        <td><%= estimate.policyholder_amount %></td>
        <td><%= estimate.spouse_amount %></td>
        <td><%= estimate.dental %></td>
        <td><%= estimate.severe_illness %></td>
        <td>
          <%= link_to 'Ver ', estimate %>
          <%= link_to 'Editar ', edit_estimate_path(estimate) %>
          <%= link_to 'Eliminar', estimate, confirm: 'Are you sure?', method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

