<p>
  <b>Type:</b>
  <%= @estimate.type %>
</p>

<p>
  <b>Letter:</b>
  <%= @estimate.letter %>
</p>

<p>
  <b>Product:</b>
  <%= @estimate.product %>
</p>

<p>
  <b>User:</b>
  <%= @estimate.user %>
</p>

<p>
  <b>Policyholder amount:</b>
  <%= @estimate.policyholder_amount %>
</p>

<p>
  <b>Spouse amount:</b>
  <%= @estimate.spouse_amount %>
</p>

<p>
  <b>Dental:</b>
  <%= @estimate.dental %>
</p>

<p>
  <b>Severe illness:</b>
  <%= @estimate.severe_illness %>
</p>


<%= link_to 'Edit', edit_estimate_path(@estimate) %> |
<%= link_to 'Back', estimates_path %>
