<!DOCTYPE html>
<html>
<head>
  <title>Portal de Cotizaciones Tecniseguros</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<%= content_tag :body, :id => params[:controller], class: logged_in? ? "logged_in" : "logged_out" do %>
  <div id="wrapper">
    <div id="content_wrapper">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class => "flash flash_#{name}" %>
      <% end %>
      <div id="content">
        <div id="login">
          <%= yield %>
        </div>
      </div>
    </div>
  </div><!-- .wrapper -->
<% end %>

</html>
